<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>:P</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
<link rel="stylesheet" href="/styles/logIn.css">

</head>
<body>
<div class="container">
	<div class="screen">
		<div class="screen__content">
				<a href=""><h1>HEALTHY + STYLE</h1></a>
			<form class="login" action="" th:action="@{/changePassword/}" method="post" >
                <p>Remember Password</p>
                    <div class="login__field"  th:value="token">
                        <i class="login__icon fas fa-user"  ></i>
                        <input type="text" id="email" name="email" required class="login__input"  placeholder=" Yours Email">
                    </div >
                    <button class="button login__submit">
                        <span class="button__text">Send Now </span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
					<a th:href="@{/login}">
						YOU  HAVE ACCOUNT ? click here	
                	</a>
			</form>
			<div class="social-login">
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
</body>
</html>
